.store-header{
padding:40px 20px 20px;
text-align:center;
background:#F9FAFB;
}

.store-header h1{
font-size:30px;
margin-bottom:16px;
}



.store-controls{
display:flex;
justify-content:center;
margin-bottom:14px;
}

.search-bar{
display:flex;
border:1px solid #323232;
border-radius:8px;
overflow:hidden;
}

.search-bar input{
padding:10px 12px;
border:none;
outline:none;
width:240px;
}

.search-bar button{
background:#4F46E5;
border: none;
color:white;
padding:10px 14px;
cursor:pointer;
}



.category-buttons{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:10px;
}

.category-btn{
padding:8px 14px;
border-radius:20px;
border:1px solid #E5E7EB;
background:white;
cursor:pointer;
font-size:14px;
}

.category-btn.active{
background:#4F46E5;
color:white;
border-color:#4F46E5;
}



.products-section{
padding:30px 20px;
}

.products-grid{
max-width:1100px;
margin:auto;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}



.product-card{
border:1px solid #E5E7EB;
border-radius:10px;
overflow:hidden;
background:white;
display:flex;
flex-direction:column;
}

.product-image{
width:100%;
height:180px;
object-fit:cover;
}

.product-info{
padding:14px;
display:flex;
flex-direction:column;
flex:1;
}

.product-title{
font-size:16px;
font-weight:600;
margin-bottom:4px;
}

.product-desc{
font-size:13px;
color:#6B7280;
margin-bottom:10px;
}

.product-price{
font-weight:700;
margin-bottom:8px;
}

.card-buttons{
display:flex;
gap:8px;
}

.cart-btn{
background:#F59E0B;
border:none;
color:white;
padding:7px 12px;
border-radius:6px;
cursor:pointer;
font-size:13px;
}

.buy-btn{
background:#4F46E5;
border:none;
color:white;
padding:7px 12px;
border-radius:6px;
cursor:pointer;
font-size:13px;
}



@media(max-width:768px){

.products-grid{
grid-template-columns:1fr;
}

.product-card{
flex-direction:row;
height:120px;
}

.product-image{
width:110px;
height:100%;
}

.product-info{
padding:10px;
}

.product-title{
font-size:15px;
}

.product-desc{
font-size:12px;
margin-bottom:6px;
}

}